{% load static %}
<link rel="stylesheet" href="{% static 'settings_navbar_css/settings_navbar.css' %}">  
<div class="settings_navbar_main_container">
    <div style="font-weight: 700;">
        Settings
    </div>
    <div class="settings_more_from_meta_container">
        <div style="font-weight: 700;">Meta</div>
        <div style="font-weight: 500;">Account Center</div>
        <div style="font-weight: 500; font-size: 0.8rem; color: rgb(129, 130, 132);">Manage your connected experiences and account settings across Meta technologies</div>
        <div style="font-weight: 500; font-size: 0.8rem; color: rgb(129, 130, 132);">Personal details</div>
        <div style="font-weight: 500; font-size: 0.8rem; color: rgb(129, 130, 132);">Password and security</div>
        <div style="font-weight: 500; color: cornflowerblue; font-size: 0.8rem;">See more in Accounts Center</div>
    </div>
    <div style="font-size: 0.8rem; color: rgb(124, 124, 125);">How you use instagram</div>
    <div style="font-size: 0.9rem;">Edit profile</div>
    <div style="font-size: 0.9rem;">Notifications</div>
</div>    
